<div class="card">
  <h3 class="card-header">Create New Post</h3>
  <form class="card-body new-post-form" id="newBlogPost">
    <label for="newPostSubject" class="form-label">Subject:</label>
    <input type="text" id="newPostSubject" name="post-subject" class="form-input" />

    <label class="form-label" for="content">Description:</label>
    <input id="content" name="post-desc" class="form-input" />

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/addBlogPost.js"></script>
